@font-face {
  font-family: "oswald-sw";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../public/fonts/oswaldmedium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "oswald-sw";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../public/fonts/oswaldbold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "raleway-sw";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/fonts/ralewayregular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "raleway-sw";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../public/fonts/ralewaymedium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "raleway-sw";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../public/fonts/ralewaysemibold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "raleway-sw";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../public/fonts/ralewayextrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "roboto-sw";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../public/fonts/robotomedium-webfont.woff2") format("woff2");
}
