body {
  margin: 0;
  min-width: 360px;
  font-family: $oswald-family, sans-serif;
  background-color: $mine-shaft-25;
  color: $white;
  font-weight: 500;
  line-height: 1.7;
  height: 100%;
}

.home-header {
  height: 100%;
  padding-top: $block-size;
  background-color: $mine-shaft-25;
}

.top-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $block-size;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border;
  background-color: $mine-shaft-25;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: $raleway-family;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 200px;
}

.logo__image-wrapper {
  width: $block-size;
  height: $block-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-line__decoration {
  position: relative;
  flex: 1 0 0;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: $border;
    display: inline-block;
  }
}

.top-line__contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-family: $roboto-family;
  color: rgba(255, 255, 255, 0.7);

  a {
    padding-left: 10px;
    color: $chilean-fire;
  }
}

.top-line__separator {
  margin: 0 20px;
  display: inline-block;
  background-color: $border;
  width: 1px;
  height: 30px;
}

.top-line__address {
  span {
    color: $white;
  }
}

.btn-menu-box {
  position: relative;
  text-align: right;
  flex: 0 0 200px;
  height: $block-size;
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: $block-size;
  height: $block-size;
  background-color: $mine-shaft;
  background-image: url("/images/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.3s ease-out;

  &:hover {
    background-color: $chilean-fire;
  }
}

.hero {
  height: 100%;
}

.aside {
  padding-top: $block-size;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: $block-size;
  background-color: $mine-shaft-30;
  z-index: 5;
}

.aside__decor {
  flex: 1 0 0;
  width: 100%;
  background-image: url("/images/decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.aside__soc {
  flex: 1 0 0;
}

.aside__share-icon {
  flex: 0 0 $block-size;
  width: $block-size;
  background-color: $chilean-fire;
  background-image: url("/images/share.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: -1px;
  transition: background 0.3s ease-out;
  border-bottom: none;

  &:hover {
    background-color: $chilean-fire;
  }

  &:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  img {
    opacity: 0.2;
    width: 15px;
    height: auto;
    transition: opacity 0.3s ease-out;
  }

  &:hover img {
    opacity: 1;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: $block-size;
  overflow: hidden;
}

.slider-footer {
  width: calc(75% - #{$block-size});
  position: absolute;
  bottom: 0;
  height: $block-size;
  display: flex;
  align-items: center;
  left: $block-size;
  z-index: 5;
}

.slider-share {
  flex: 0 1 auto;
}

.slider-scrollbar {
  flex: 1 0 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 2px;

  .swiper-scrollbar-drag {
    position: relative;
    top: -1px;
    background-color: $chilean-fire;
    border-radius: 10px;
    height: 3px;
    overflow: hidden;
  }
}

.slider-navigation {
  position: relative;
  flex: 0 0 140px;
  left: 10px;

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 5px;
    width: 32px;
    height: 32px;
    color: $chilean-fire;
    background-color: $mine-shaft;
    border-radius: 50%;
    border: 2px solid $chilean-fire;

    &::after {
      font-size: 10px;
    }
  }

  .swiper-button-disabled {
    opacity: 1 !important;
    border: 2px solid #8a8a8a;
    background-color: #3c3c3c;

    &::after {
      color: #8a8a8a;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .slider-navigation__inner {
    margin: auto;
    position: relative;
    max-width: 70px;
  }
}

.slider-share__items {
  display: flex;
  align-items: center;
}

.slider-share__item {
  width: $block-size;
  height: $block-size;
  border: none;
  background-color: $mine-shaft-30;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;

  &:last-child {
    border-bottom: none;

    &::after {
      position: absolute;
      content: "";
      right: -1px;
      height: 100%;
      width: 3px;
      background-color: $chilean-fire;
    }
  }
}

.slider-parallax {
  width: 75%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 2;
  }
}

.slider-parallax__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.slider-share__item-img {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: calc(100% - #{$block-size});
}

.swiper-slide.slider-text__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slide-text__inner {
  text-align: right;
  padding-right: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.slider-text__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 670px;
  font-family: $oswald-family;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;

  span {
    color: $chilean-fire;
  }
}

.slider-text__descr {
  margin: 0;
  margin-bottom: 20px;
  max-width: 500px;
  font-family: $raleway-family;
  font-weight: 600;
  font-size: 13px;
}

.btn {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 100%;
    background-color: $mine-shaft-30;
    z-index: -1;
    transition: width 0.5s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

.slider-text__btn {
  padding: 16px 26px;
  font-family: $raleway-family;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  background-color: $chilean-fire;
}

.slider-pagination {
  margin: 0 20px;
  flex: 0 0 140px;
  height: $block-size;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
    opacity: 1;
    margin: 0 8px !important;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: $chilean-fire;

    &::before {
      position: absolute;
      top: -4px;
      left: -4px;
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid $chilean-fire;
      border-radius: 50%;
    }
  }

}

.slider-gear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(23.8% - 235px);
  width: 470px;
  height: 470px;
  background-image: url('/images/pat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-pagination-count {
  position: absolute;
  top: 100px;
  right: 30px;
  font-family: $oswald-family;
  font-weight: 500;
  font-size: 24px;
  font-size: 24px;
  color: $white;
  z-index: 30;
  width: 120px;
  height: 80px;

  .current {
    min-width: 42px;
    color: $chilean-fire;
    font-size: 40px;
    display: inline-block;
  }
}

.slider-pagination-current {
  position: absolute;
  bottom: 30px;
  right: 60px;
  font-size: 100px;
  font-family: $oswald-family;
  color: #222;
  -webkit-text-stroke: 1px #7f7f7f;

  .slider-pagination-current__dot {
    color: $chilean-fire;
    -webkit-text-stroke: 1px transparent;
  }
}

.modal__overlay {
  background: rgba(0,0,0,0.8);
 
}

.modal {
  position: absolute;
  z-index: 100;
  font-family: $raleway-family;
}

.modal__container {
  background-color: $border;
  box-shadow: 0 0 0 8px rgba($white, 0.1);
  border-radius: 0;
}

.modal__title {
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $oswald-family;
  display: block;
  width: 100%;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $white;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.form-input {
  padding: 10px 25px;
  min-width: 280px;
  display: block;
  background-color: $mine-shaft;
  border: 1px solid lighten($mine-shaft, 7);
  color: $white;
  transition: border 0.3s;
  outline: 0;

  &:focus {
    border: 1px solid lighten($mine-shaft, 30);
  }
}

.modal__input {
  margin-bottom: 10px;
}

textarea.modal__input {
  height: 100px;
}

.modal__footer {
  text-align: center;
}