$chilean-fire: #F57500;
$mine-shaft-25: #252525;
$mine-shaft-30: #303030;
$white: #fff;

$font-family: "oswald-sw", sans-serif;
$second-family: "raleway-sw", sans-serif;
$third-family: "roboto-sw", sans-serif;