$chilean-fire: #f57500;
$mine-shaft-25: #252525;
$mine-shaft-30: #303030;
$white: #fff;
$mine-shaft: #3C3C3C;
$border: #3c3c3c;

$block-size: 70px;

$oswald-family: "oswald-sw", sans-serif;
$raleway-family: "raleway-sw", sans-serif;
$roboto-family: "roboto-sw", sans-serif;
